In [1]:
# 1. What is result

x = 8
y = 10

result = x//3*3/2+y%2**2
print(result)

5.0

In [2]:
# # 2
start = input('How old were you at the time of joining?')
end = input('How old are you Today?')

print('Congratulations on '+str(int(end)-int(start))+' Years of Service!')

How old were you at the time of joining? 23
How old are you Today? 58

Congratulations on 35 Years of Service!

In [3]:
# 3. Which of the following won't print 'CAT' to the console
x = 'ACROTE'
y = 'APPLE'
z = 'TOMATO'

print(x[2]+y[1]+z[1])
print(x[-5]+y[0]+z[-2])
print(x[1]+y[0]+z[0])
print(x[-5]+y[0]+z[0])

RPO
CAT
CAT
CAT

In [4]:
# 4
x = 'Durga'
y = 'Durga'

# result = condition
result = x is y
print(result)

# for which of the following condition True will be printed to the console?
# x < y
# x != y
# x is not y
# x is y

True

In [5]:
# 5.Consider the following code segments:
# After excution Code Segment 1, 2 and 3 the result of c1, c2, and c3 are:
# Code Segment-1
a1 = '10'
b1 = 3
c1 = a1*b1

# Code Segment-2
a2 = 10
b2 = 3
c2 = a2 / b2

# Code Segment-3
a3 = 2.6
b3 = 1
c3 = a3 / b3

print(type(c1))
print(type(c2))
print(type(c3))

# Ans:- 
# <class 'str'>    
# <class 'float'>
# <class 'float'>

<class 'str'>
<class 'float'>
<class 'float'>

In [6]:
# 6.In which of the following cases we will get the same result
13//4
11/3
3**1
23%5

print(13//4,11/3,3**1,23%5)

# Ans :- first, third and fourth bcz 3, 3.6666666666666665, 3, 3

3 3.6666666666666665 3 3

In [7]:
# 7.Consider the following lists:

n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1 == n2)

# What is the output?

# Ans:- False True, bcz 'is' compare memory location and '==' compare values

False
True

In [8]:
# 8.Consider the python code

a = 1
b = 3
c = 5
d = 7

# In Which of the following cases the result value is 0?
print(a-b//d)
print(a**d-1)
print(a+b*2)
print(a%b-1)

# Ans :- Answer 2nd and 4th is correct bcz

1
0
7
0

In [9]:
# 9.consider the code

s = 'AB CD'
list = list(s)  
list.append('EF')  
print(list)  

# what is the result
# ['A', 'B', 'C', 'D','EF']
# ['A', 'B', 'C', 'D','E','F']
# ['A','B','','C','D','EF']
# ['A', 'B',' ', 'C', 'D', 'EF']
# ['A','B',' ', 'C', 'D', 'EF']

# Ans:- third ans is correct, if we convert str to list then each element is element including space

['A', 'B', ' ', 'C', 'D', 'EF']

In [10]:
# 10.Consider the Python code:

a = 5
b = 10
c = 2
d=True

x =a+b*c
y = a+b/d

# if(condition):
if(x>y):
    print('Valid')
else:
    print('invalid')

# To print 'Valid' to the console, which condition we have t:o take for if statement?
# x<=y
# x<y
# x==y
# x>y

# Ans:- forth is correct, x=25 and a=15

Valid

In [11]:
# 11.You are writing a Python program to read two int values from the keyboard and print the sum.

x=input('Enter First Number:')
y=input('Enter Second Number:')
# Line-1

# Which of the following code we have to write at Line-1 to print sum of given numbers?

# print('The Result:' + (int(y)))
print('The Result:' + str(int(x)+int(y)))
# print('The Result:' + str(int(x+y)))
# print('The Result:' + (int(x)+int(y)))

# Ans:- The second option is correct because the number is initially entered as a string. To perform addition, it needs to be converted into an integer format. However, since we cannot directly concatenate an integer with a string, the final result must be converted back to a string format for proper concatenation.

Enter First Number: 4
Enter Second Number: 4

The Result:8

12.Consider the expession:

result=a-b*c+d

Which of the following are valid?

First a-b will be evaluated followed by multiplication and addition 
First b*c will be evaluated followed by addition and subtraction
The above expession is equivalent to a-(b*c)+d
First b*c will be evaluated followed by subtraction and addition

Ans:- third and fourth is correct bcz multiplication have more precedence than addition and subtraction, addition and subtraction have same precedence

13.Consider the following python code:

weight=62.4
zip='80098
value=+23E4

The types of weight, zip and value variables respectively:

double, str, float
int, str, float
float, str, float
float, str, str

Ans:- Ans 3rd is correct bcz, the type of +23E4 will be float, because scientific notation is typically used to represent floating-point numbers.

In [12]:
# 14.You are writing a Python program. You required to handle data types properly.
# Consider the code segment:

a=10+20
b='10'+'20'
C='10'*3

# Identify the types of a,b and c?

# a is of int type, b and c are invalid declarations
# a is of int type,b is of str type and c is of int type
# a is of int type,b is of int type and cis of int type
# a is of int type o is of str type and t is of str type

# Ans:- fourth is correct

In [13]:
# 15.You have the following code:
a=bool([False])
b=bool(3)
c=bool("")
d=bool(' ')

# Which of the variables will represent False:
c
d
b
a

# Ans:- first option (c) is correct. because argument is empty string, so it represent False

True

In [14]:
# 16.Consider the following expression
result=(2*(3+4)**2-(3**3)*3)

# What is result value?
# 17
# 18
# 19
# 16
print(result)
# Ans:- First ans is correct  bcz precedence is Parenthesis, Exponent, Multiplication and substraction

17

In [15]:
# 17.Consider the code

a=2
a+= 1
#Line-1

# To make a value as 9, which expression required to place at Line-1
# a**=2
# a-2
# a+2
# a=2

# Ans:- first option is correct bcz a=2, a=a+1->3, a=a**

In [16]:
# 18.Which variables represent True?
a=bool(0)
b=bool(3)
c=bool(0.5)
d=bool(0.0)

# a,b
# All Variables
# d,a
# b,c
# c,d

# Ans:- third ans is correct (b, c), In above cases, zero treated as false and non-zero trated as True

In [17]:
# 19.Consider the code:

a=21
b=6

print(a/b)
print(a//b)
print(a%b)

# What is the result?

3.5
3
3

In [18]:
# 20.You are developing a python application for your company.
# A list named employees contains 500 employee names, the last 3 being company management. Which of the following represents only management employees.
'''
employees[-3:]
employees[497:]
All the above
employees[497:500]
'''
# Ans:- All the above

'\nemployees[-3:]\nemployees[497:]\nAll the above\nemployees[497:500]\n'

In [19]:
# 21.In which cases True will be printed to the console?
subjects=['java', 'python', 'sap']
more_subjects=['java', 'python', 'sap']
extra_subjects=more_subjects

print(extra_subjects is more_subjects)
print(subjects is more_subjects)
print(subjects is extra_subjects)
print(subjects == extra_subjects)

# Ans:- first and fourth answer is correct bcz of 'is' use fo reference and '==' use for value comparisson

True
False
False
True

22.You are developing a python application for your company.
A list named employees contains 500 employee names.
In which cases we will get IndexError while accessing employee data?

employees [0:501]
employees [1:1000]
employees[-10:10]
None of the above

Ans:- forth one is correct, bcz Slice Operator never raise IndexError but gives Empty list some times

In [20]:
# 23.Consider the lists:

numbers=[10,20,30,40,50]
alphabets=['a', 'b', 'c', 'd', 'e']
print(numbers is alphabets)
print(numbers == alphabets)
numbers=alphabets
print(numbers is alphabets)
print(numbers == alphabets)

# What is the result?

False
False
True
True

In [21]:
# 24.Consider the following python code:

age=0
minor=False
name='Durga'

# The types of age, minor and name variables respectively:

# int, bool, str
# int, bool, char
# bool, bool, str
# float, bool, str

# Ans:- First is correct

In [22]:
# 25.Which of the following expression will generate max value?

8//3*4
8%3*4
8/3*4
8-3*4

# 8
# 8
# 10.666
# -4

# Ans:- Third one is correct

-4

In [23]:
# 26.Consider the code:
s='Python is easy'
s1=s[6:-4]
s2=s1.strip() #Line-1 
print(len(s2))

# To print 2 as output, which code we have to insert at Line-1
# s2=s1.strip()
# s2=s1.rstrip()
# s2=s1.lstrip()
# s2=s1.Instrip()

# Ans:- first answer is correct bcz we have to get output as a 2, so we have to remove space of ' is ' from both side

2

27.You are developing a python application for your company.
A list named employees contains 600 employee names, the last 3 being company management. You need to slice employees to display all employees excluding management. Which two code segments we should use?

employees[1:-3]
employees[:-3]
employees[1:-2]
employees[0:-2]
employees[0:-3]

Ans:-The correct code segments are employees[:-3] and employees[0:-3] because both exclude the last three elements, which represent the company management, while including all other employees.

In [24]:
# 28.Consider the list:
list=['Apple', 'Banana', 'Carrot', 'Mango']
# Which of the following are valid ways of accessing 'Mango':

# list[0]
list[-1]
list[3]
# list[4]

# The valid way to access 'Mango' is list[3], because list indices start at 0 and 3 corresponds to 'Mango'. Other indices are invalid:

# list[0] corresponds to 'Apple'
# list[-1] corresponds to 'Mango' (negative indexing works from the end)
# list[4] is out of range for a list with only 4 elements.

'Mango'

29.Which of the following code snippet will produce the output:
Boy
Cat
Dog

l=['Apple', 'Boy', 'Cat', 'Dog']
for x in l:
    print(x)

l=['Apple', 'Boy', 'Cat', 'Dog']
for x in l:
    if len(x) !=3:
        print(x)
        
l=['Apple', 'Boy', 'Cat', 'Dog']
for x in l:
    if len(x)==3:
        print(x)

l=['Apple', 'Boy', 'Cat', 'Dog']
l1=1[1:]
for x in 11:
    print(x)

Ans:- Third and fourth
The condition if len(x) == 3 filters and prints the strings that have a length of 3 (i.e., "Boy", "Cat", "Dog").
The line l1 = l[1:] slices the list l starting from the second element ('Boy') to the end.

In [25]:
# 30.Consider the code
a = 15
b = 5
print (a / b)

# What is the result?
0.0
3.0
3
0

# Ans:3.0

3.0

0

31.You are developing a python application for your company.
A list named employees contains 500 employee names.
In which cases we will get IndexError while accessing employee names?

None of the above
employees [500]
employees[0]
employees[-11]

Ans:second is correct bcz of out of range index error

In [26]:
# 32.Consider the code
a = 1
b = 2
c = 4
d = 6

# Which of the following expression results -4?
(a+b)//c*d
(b+c)//a%d
(a+b)//c%d
(a+b)//d-c

# Ans:- forth is correct bcz (1+2)//6−4=3//6−4=0−4=−4

-4

# 33.Consider the code:
s='Python is easy
s1=s[-7:]
s2=s[-4:]
print(s1+s2)
# What is the result?

is easyeasy
s easyeasy
iseasyeasy
is easy easy

# Ans:- The result is is easyeasy because s1 = s[-7:] gives 'is easy' and s2 = s[-4:] gives 'easy', and their concatenation results in 'is easyeasy'.

34.Which of the following is valid python operator precedence order?

Exponents
Parenthesis
Unary Positive, Negative and Not
Multiplication and Division
Addition and Subtraction
And

Exponents
Unary Positive, Negative and Not
Multiplication and Division
Addition and Subtraction
And
Parenthesis

Parenthesis
Exponents
Linary Positive, Negative and Not
Multiplication and Devision
Addition and Subtraction
And

Parenthesis
Exponents
Unary Positive, Negative and Not
Addition and Subtraction
Multiplication and Division
And

Ans:- forth is correct bcz This follows the standard operator precedence in Python, where parentheses have the highest precedence, followed by exponents, unary operators, arithmetic operations, and logical operations like and.

35.You are writing a python program that evaluates an arithmetic expression.
The expression is described as b is equals a multiplied by negative one, then raised to the second power, where a is the value which will be input and b is result.

a=eval(input('Enter a number for the expression:'))

Which of the following is valid expression for the given requirement?

b =(a)**-2
b =(a-)**2
b =-(a)**2
b =(-a)**2

Ans:- b is equals a multiplied negative one, then raised to the second power

In [28]:
# 36.Consider the following expression
result=8//6%5+2**3-2
print(result)
# What is the result?
# 6
# 7
# 8
# 9

# Ans:- The res ult is 9 because the expression follows the order of operations: 8//6 = 1, 1%5 = 1, 2**3 = 8, and 1 + 8 - 2 = 9.

7

In [29]:
# 37.You have the following code:
a=3
b=5
a+=2**3
a-=b//2//3
print(a)

# What is the result?
# 11
# 12
# 13
# 10

# Ans:-The result is 11 because a += 2**3 gives a = 3 + 8 = 11, and a -= b//2//3 gives a = 11 - (5//2//3) = 11 - 0 = 11.

11

In [30]:
# 38.Consider the following variable declarations:

a=bool([])
b=bool(())
c=bool(range(0))
d=bool({})
e=bool(set())

# Which of the above variables represent True ?

# C
# None of the variables represents True
# All Variables represent True
# a,b,cd

# Ans:- None of the variables represents True, because all the variables (a, b, c, d, e) are initialized with empty collections (list, tuple, range, dictionary, and set), which are all considered False in a boolean context.

In [31]:
# 39.Consider the python code
numbers=[10,20,30,40]
x=0
# In which of the following cases 10 will be printed to the console?

for i in (30, 40, 50):
    if i in numbers:
        x += 10
print(x)

x = 0  
for i in (30, 40, 50):
    if i not in numbers:
        x += 5
print(x)

x = 0  
for i in (30, 40, 50):
    if i in numbers:
        x += 5
print(x)

x = 0  
for i in (30, 40, 50):
    if i not in numbers:
        x += 10
print(x)

# Ans:- 20, 5, 10, 10, so 3rd and 4th is correct

20
5
10
10

In [32]:
# 40.consider the following list

n1=[10, 20, 30, 40, 50]
n2=[10, 20, 30, 40, 50]
print(n1 is n2)
print(n1 == n2)
n1=n2
print(n1 is n2)
print(n1 == n2)

False
True
True
True